<div class="text-center">
  <p>GREETINGS EARTHLING, AND WELCOME TO </p>
  <h1>PLANET MUSIC</h1>
  <% if(currentUser){ %>
     <STRONG>Hello </STRONG><span> <%= currentUser.firstname %></span>
     <% }; %>

</div>
