<h1>My Profile</h1>
<div class="container">

<form action="/profile/tags/all" method="POST">
  <div class="form-group">
    <label for="tags">Tags</label>
    <input type="text" class="form-control" name="tags">
    <input type="submit" name="" value="Add Tag">
  </div>
</form>
  <form action="/profile/skills/all" method="post">
    <div class="form-group">
      <label for="skills">Skills</label>
      <input type="text" class="form-control" name="skills">
      <input type="submit" value="Add Skills">
    </div>
  </form>




</div>
