<div class='container'>
  <div class="row">
    <h1>Search Users by Tag</h1>
    <p>Select a genre tag to see associated artists!</p>
    <% tags.forEach(function(tag){ %>
    <div class="well text-center col-sm-4">
            <a href="/tags/<%= tag.id %>">
              <strong><%= tag.name %></strong><span class="pull-right glyphicon glyphicon-search"></span>
            </a>
    </div>
    <% }); %>
  </div>
</div>
